/* background images */
header {
  background-image: url('../assets/images/bg (4).jpg');
}

.bg-1 {
  background-image: url('../assets/images/1.png');  
}

.bg-2 {
  background-image: url('../assets/images/2.png');  
}

.bg-3 {
  background-image: url('../assets/images/3.png');  
}

.bg-5 {
  background-image: url('../assets/images/5.png');  
}

.bg-6 {
  background-image: url('../assets/images/6.png');  
}


/* style general */

h4, .c-main:hover{
  color: #61DDD5;
} 

h4 {
  font-size: 50px;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 300ms ease;
}

.container-bg-img:hover {
  background: radial-gradient( rgba(0, 0, 0, 0.842),#000000) ;
  cursor: pointer;
}

.container-bg-img {
  font-size: 1.1rem;  
  color: transparent;
  transition: all 500ms ease;  
}

/* style navbar */

header .navbar {
  animation: all 1000ms ease;
  padding: .6rem 1rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header .navbar ul.mr-auto-left {
  margin-right: 0 !important;
  margin-left: auto !important;
}

header .navbar ul.mr-auto-left>li {
  margin: 0 1rem;
}

header .navbar ul.mr-auto-left>li>a {
 font-weight: bold;
}

.c-main, .navbar-toggler-icon , .font-2, .font, footer>p{
  color: white;
}

.icon-menu {
  color: #ffffff;
}

/*header scroll*/

header .navbar.header-scroll {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
}

header .navbar.header-scroll ul>li>a {
  color: #352A77;
}

header .navbar.header-scroll .icon-menu {
  color: #352A77;
}

/* style view MAIN */

.h-90 {
  height: 90vh;
}

.height-100 {
  height: 100vh;
}

.height-10 {
  height: 10vh;
}

body {
  background-color: #0D0E14;
  color: #ffffff;
}

h4, .font, h3, h5 {
  font-family: 'Fjalla One', sans-serif;  
  text-transform: uppercase;  
}

.font {
  font-size: 4rem;
}

.font-2 {
  font-size: 30px;  
  font-family: 'Julius Sans One', sans-serif;
}

/* style ABOUT ME */

#about-me, #contact {
  background-color: #ffffff;
  color: #0D0E14;
}

#about-me h4, #contact h4 {
  font-weight: 600;
  color: #352A77;
}

/* style PORTFOLIO */

.h-proyects {
  height: 40vh;
}

#particles-js {
  width: 100%;
	height: 100%;
	position: absolute;
}

#work{
  position: relative;
}

.name-proyect {
  font-size: 1.2rem;
  font-weight: bold;
}

/* style Contact */

#contact ul {
  list-style: none;
}

#contact a {
  padding: 1rem 1.2rem; 
  color: #2B1E66;   
  text-decoration: none;  
  font-size: 1rem;
  font-weight: 400;  
  transition: all 100ms ease;
}

#contact a:hover {
  text-decoration: underline;
}

#contact ul#list-icons a {
  border: 1px solid #464c9e;
}

#about-me h5 {
  color: #5C2A77;
  font-size: 2rem;
}

/* modal */
.modal-content {
  background-color: #0D0E14;
  color: white;
}

/* media querys */

@media (min-width: 768px) {

  header .navbar.header-scroll ul>li>a {
    animation: all 500ms ease;
  }

  header .navbar.header-scroll ul>li>a:hover {
    border-bottom: 1.5px solid #352A77;
  }
  
  .font {
    font-size: 5rem;
  }

  .h-60 {
    height: 60vh;
  }

  .h-proyects {
    height: 35vh;
  }

  #contact a {
    padding: 1rem 1.2rem; 
    color: #2B1E66;   
    text-decoration: none;  
    font-size: 1.2rem;
    font-weight: 400;  
    transition: all 100ms ease;
  }
  
}